@import "templatestyle.css";

/* CONTENT START */
.content {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.map {
  grid-row: 1/-1;
}
.comfeed {
  grid-column: 2/3;
  grid-row: 1/2;
  overflow: scroll;
  min-height: 400px;
  max-height: 500px;
}

.apifeed {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow:scroll;
  min-height: 400px;
  max-height: 500px;
}

p {
  max-height: 30px;
  /* overflow-y: scroll; */
  font-size: small;
  margin: 10px;
}

.repres {
  overflow: scroll;
}

.incidents {
  overflow: scroll;
}

ol {
  max-height: 30px;
  /* overflow-y: scroll; */
  font-size: small;
  margin: 10px; 
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: small;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* CONTENT END */

@media only screen and (max-width: 800px) and (min-width: 375px) {
  .body-container {
    grid-template-columns: 1fr;
  }

  .header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .logo {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .nav {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .map {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .apifeed {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .comfeed {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
