@import "templatestyle.css";

/* CONTENT START */
.content {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "api map"
    "api com";
}

/* MAP START */

.map {
  grid-area: map;
  display: grid;
  align-content: center;
  justify-content: center;
}

.iframe-container {
  overflow: hidden;
  /* margin: 15px auto; */
  max-width: 618px;
}

select {
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 1.2em;
}

.clear {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 500;
  padding: 0.2em;
  color: black;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  margin-left: 8px;
  margin-top: 2px;
  border: 1px solid black;
}

iframe {
  border: 0px none;
  margin-left: -948px;
  height: 832px;
  margin-top: -518px;
  width: 1922px;
}

/* MAP END */

/* COM FEED START` */
.comfeed {
  /* grid-column: 2/3;
  grid-row: 1/2; */
  grid-area: com;
  overflow: scroll;
  min-height: 400px;
  max-height: 654px;
  padding: 1.5em;
  font-size: 1em;
  color: black;
}

.comFeedTitle {
  font-weight: 600;
  color: black;
}

.repres {
  overflow: scroll;
}

/* COM FEED END` */

p {
  max-height: 30px;
  /* overflow-y: scroll; */
  font-size: small;
  margin: 10px;
}

ol {
  max-height: 30px;
  /* overflow-y: scroll; */
  font-size: small;
  margin: 10px;
}

/* API FEED START */

.apifeed {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-area: api;
  overflow: hidden;
  min-height: 10%;
  max-height: 1325px;
  font-size: 1rem;
}

.fixed_header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 74em;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  background: black;
  color: #fff;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;
  text-align: left;
  width: 100%;
  min-width: 18em;
  max-width: 22em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* API FEED END */

/* CONTENT END */

/* MEDIA Qs */
@media only screen and (max-width: 1564px) {
  .fixed_header th,
  .fixed_header td {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1400px) {
  .iframe-container {
    max-width: 100%;
  }

  .fixed_header th,
  .fixed_header td {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1264px) {
  .fixed_header th,
  .fixed_header td {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 1110px) {
  .fixed_header th,
  .fixed_header td {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 900px) {
  .body-container {
    grid-template-columns: 1fr;
  }

  .header {
    display: unset;
    font-size: 1.2em;
  }

  .logo {
    padding: 4%;
  }

  .nav-e {
    padding: 4%;
  }

  .copy {
    font-size: 1.2em;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "api"
      "map"
      "com";
  }

  .map {
    grid-area: map;
  }

  .iframe-container {
    max-width: 614px;
  }

  .map {
    display: grid;
    justify-content: center;
    align-content: center;
    max-height: 400px;
  }

  .apifeed {
    grid-area: api;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
  }

  .fixed_header {
    width: 100%;
  }

  .fixed_header tbody {
    height: 68em;
  }

  .comfeed {
    grid-area: com;
    padding-top: 1rem;
    padding: 1rem;
  }

  a.logo {
    font-size: 4em;
  }

  .nav-e {
    font-size: 2em;
  }
}

@media only screen and (max-width: 855px) {
  .fixed_header th,
  .fixed_header td {
    font-size: 0.7em;
    /* width: 32%; */
  }
}

@media only screen and (max-width: 652px) {
  .logo {
    font-size: unset;
  }

  .nav-e {
    font-size: unset;
  }

  .iframe-container {
    max-width: 426px;
  }

  .map {
    display: grid;
    justify-content: center;
    align-content: center;
    max-height: 400px;
  }

  .clear {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 1em;
    border-radius: 8px;
    position: unset;
    margin-left: unset;
    border: 1px solid black;
  }

  #sort {
    width: 100%;
  }

  .apifeed {
    grid-area: api;
    font-size: 0.8rem;
  }

  .fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .fixed_header tbody {
    display: block;
    width: 100%;
    overflow: scroll;
    height: 80%;
  }

  .fixed_header th,
  .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .iframe-container {
    max-width: 394px;
  }

  a.logo {
    font-size: 1.3em;
  }
}
