@import "templatestyle.css";

/* CONTENT START */
.content {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "api map"
    "api com";
}

/* MAP START */

.map {
  /* grid-row: 1/-1; */
  grid-area: map;
  display: grid;
  align-content: center;
  justify-content: center;
}

.iframe-container {
  /* display: grid; */
  /* justify-content: center; */
  /* align-content: center; */
  overflow: hidden;
  margin: 15px auto;
  max-width: 618px;
}

select {
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 1.2em;
}

.clear {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.2em;
  color: black;
  background-color: white;
}

iframe {
  border: 0px none;
  margin-left: -948px;
  height: 832px;
  margin-top: -518px;
  width: 1922px;
}

/* MAP END */

/* COM FEED START` */
.comfeed {
  /* grid-column: 2/3;
  grid-row: 1/2; */
  grid-area: com;
  overflow: scroll;
  min-height: 400px;
  max-height: 900px;
  padding: 1.5em;
  font-size: 1em;
}

.repres {
  overflow: scroll;
}

/* COM FEED END` */

p {
  max-height: 30px;
  /* overflow-y: scroll; */
  font-size: small;
  margin: 10px;
}

ol {
  max-height: 30px;
  /* overflow-y: scroll; */
  font-size: small;
  margin: 10px;
}

/* API FEED START */

.apifeed {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-area: api;
  overflow: hidden;
  /* min-height: 400px; */
  max-height: 900px;
  font-size: 1rem;
}

.fixed_header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 48em;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  background: black;
  color: #fff;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;
  text-align: left;
  min-width: 18em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* API FEED END */

/* CONTENT END */

/* MEDIA Qs */
/* MEDIA QUERY for 700px-width and BELOW */
@media only screen and (max-width: 1380px) {
  .body-container {
    grid-template-columns: 1fr;
  }

  .header {
    display: unset;
    font-size: 1.2em;
  }

  .logo {
    padding: 4%;
  }

  .nav-e {
    padding: 4%;
  }

  .copy {
    font-size: 1.2em;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "api"
      "map"
      "com";
  }

  .map {
    grid-area: map;
  }

  .iframe-container {
    max-width: 582px;
  }

  .map {
    display: grid;
    justify-content: center;
    align-content: center;
    max-height: 400px;
  }

  .apifeed {
    grid-area: api;
    font-size: 1.1rem;
  }

  .fixed_header {
    max-width: 686px;
  }

  .fixed_header tbody {
    height: 783px;
  }

  .comfeed {
    grid-area: com;
    padding-top: 1rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .iframe-container {
    max-width: 582px;
  }

  .fixed_header {
    max-width: 686px;
  }

  .fixed_header tbody {
    height: 783px;
  }
}

@media only screen and (max-width: 340px) {
  .iframe-container {
    max-width: 300px;
  }

  .map {
    display: grid;
    justify-content: center;
    align-content: center;
    max-height: 400px;
  }

  .apifeed {
    grid-area: api;
    font-size: 0.8rem;
  }

  .fixed_header {
    width: 304px;
  }

  .fixed_header tbody {
    height: 783px;
  }
}
