@import "templatestyle.css";
/* CONTENT START */
.content {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 11fr;
}

.forminfo {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1/2;
}

.form-parent {
  grid-row: 1/-1;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 11fr;
}

.title {
  grid-row: 1/2;
  display: grid;
  justify-content: center;
  align-content: center;
}

.form {
  grid-row: 2/-1;
  display: grid;
}

.actform p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4%;
  padding: 5%;
}

.actform button {
  grid-column: 2/3;
  font-weight: 600;
}

/* CONTENT END */

/* MEDIA QUERY for 700px-width and BELOW */
@media only screen and (max-width: 800px) {
  .body-container {
    grid-template-columns: 1fr;
  }

  .header {
    display: unset;
    font-size: 1.2em;
  }

  .logo {
    padding: 4%;
  }

  .nav-e {
    padding: 4%;
  }

  .forminfo {
    font-size: 1.2em;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "form"
      "forminfo";
  }

  .title {
    font-size: 0.8em;
  }

  .forminfo {
    grid-area: forminfo;
  }

  .form-parent {
    grid-area: form;
  }
}
